span.bar-orange-50,
span.bar-orange-35,
span.bar-orange-30 {
  height: 0.5rem;
  background-color: var(--orange);
  display: block;
  margin: 0.5rem auto;
}

span.bar-orange-50 {
  width: 50%;
}

span.bar-orange-35 {
  width: 35%;
}

span.bar-orange-30 {
  width: 30%;
}
/* cards */

.card {
  max-width: 50rem;
  height: 75vh;
  margin: 2rem auto;
  padding: 3rem 2rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.header-card {
  text-align: center;
  margin-bottom: 2rem;
}

.header-card-view {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}
.card-vazio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgb(168, 168, 168);
}

.card-content-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
}

.card-vazio p {
  font-size: 5rem;
}

.card-for-match {
  max-width: 40rem;
  height: 70vh;
  margin: 2rem auto;
  background:
    linear-gradient(to top, transparent 0%, #fff 20%),
    linear-gradient(to right, var(--purple), var(--orange));

  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.card-match-content {
  padding: 3rem;
  height: 80%;
  overflow-y: auto;
}

.card-match-content textarea {
  max-height: 20vh;
  padding: 0.2rem;
  border: none;
  min-height: 10vh;
}

.card-view {
  top: 18%;
  margin: auto;
  padding: 1rem;
}

.card-view,
.modal-content {
  position: absolute;
  background: whitesmoke;
  z-index: 999;
  display: flex;
  width: 30%;
  height: 72vh;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  box-shadow: 0.1rem 0.2rem 4rem -0.6rem #000000ab;
}

.modal-content {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.5rem 1.5rem;
}

.modal-content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.modal-content h3,
.modal-content input#titulo-vaga-input {
  text-align: center;
}

.modal-content input#titulo-vaga-input {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.modal-actions {
  margin: 3rem 1rem 1rem 1rem;
  text-align: center;
}

/* card-candidato-view-match */
div#candidato-view-dados {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  background: #0000002e;
}
div#card-candidato-view-match {
  position: absolute;
  top: 10%;

  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 30%;
}

/* botoes */
.btn {
  width: 40%;
  margin: 2rem auto;
  display: block;
  border-radius: 3.2rem;
  background-color: var(--purple);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
}

/* botoes do match */
.btn-area-match {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: 1rem;
}

button.btn-fechar-card {
  position: absolute;
  right: 0;
  width: 2rem;
  background: var(--red);
}

.match-btn {
  width: 6rem;
  height: 6rem;
}

.like-btn:hover {
  width: 7rem;
  height: 7rem;
}

.dislike-btn:hover {
  width: 7rem;
  height: 7rem;
}

button#btn-excluir-conta-candidato,
button#btn-excluir-conta-empresa {
  position: relative;
  justify-content: center;
  left: 41%;
  background: var(--red);
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.input-senha button {
  border-radius: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.2rem solid var(--border-grey);
  background: transparent;
  cursor: pointer;
}

.modal-actions button {
  width: 28%;
  height: 3rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem;
}

.modal-actions button:nth-child(1) {
  background-color: #722bed;
}

.modal-actions button:nth-child(2) {
  background-color: var(--orange);
}
.modal-actions button:nth-child(3) {
  background-color: var(--red);
}
/* menu */
section.menu-nav {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30%;

  bottom: 10vh;

  left: 50%;
  transform: translateX(-50%);

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.2rem);

  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);

  border-radius: 1.5rem;

  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.15);

  z-index: 999;
}

#menu-nav-empresa {
  width: 40% !important;
}

section.menu-nav ul {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

section.menu-nav ul li {
  list-style: none;
}

section.menu-nav img {
  width: 5rem;
  height: 5rem;
}

/* COMPETENCIAS */
.competencias {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* lista */
.lista-competencias {
  margin-top: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 80%;
  justify-content: center;
}

/* categoria */
.competencia-template {
  display: block;
  padding: 0.6rem 1.2rem;
  background: var(--orange);
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

/* popup overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* conteúdo do popup */
.popup-content {
  background: rgb(39, 39, 39);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup-content input {
  color: white;
}

/* botões */
.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-actions button {
  background: transparent;
  color: white;
  width: 30%;
  height: 3rem;
  padding: 0.3rem;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  section.menu-nav,
  #menu-nav-empresa {
    width: 45% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  section.menu-nav,
  #menu-nav-empresa {
    width: 60% !important;
  }

  section.menu-nav ul {
    gap: 4rem;
  }
}

@media screen and (max-width: 425px) {
  section.menu-nav,
  #menu-nav-empresa {
    width: 90% !important;
    padding: 1rem;
    bottom: 5vh;
  }

  section.menu-nav ul {
    gap: 3rem;
  }

  section.menu-nav img {
    width: 4.5rem;
    height: 4.5rem;
  }

  .card {
    height: 84vh;
  }
  .card-view,
  .modal-content,
  div#card-candidato-view-match {
    width: 86%;
  }

  .card-for-match {
    margin-top: 10vh;
  }

  .btn {
    width: 80%;
    margin-bottom: 1rem;
  }
}
